* {
    box-sizing: border-box;
    outline: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    font-family: Courier;
    cursor: default;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 300px;
    height: 100%;
    padding: 10px 40px;
    background-color: #13740a;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

header>ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
}

header li {
    display: inline-block;
    padding: 10px;
}

main {
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #13740a;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #13740a;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-family: Courier;
    font-weight: bold;
    cursor: pointer;
}

button:disabled {
    background-color: #60975b;
    color: #ddd;
    cursor: not-allowed;
}

input, select {
    margin: 5px;
    padding: 6px;
    border: 1px solid #13740a;
    border-radius: 5px;
    font-family: Courier;
    text-align: center;
}
